container_commands:
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python fanta/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fanta.settings"
    "PYTHONPATH": "/opt/python/current/app/iotd:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

