{% load static %}
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<title>Fantacalcio</title>
		<link rel="stylesheet" href="/static/fantaapp/css/style_new.css" media="screen" type="text/css" />
 

    {% block prescript %}
    {% endblock %}
 
 
   	</head>

<body>
  <header>
    {% block header %}
    {% endblock header %}

  </header>
{% block content %}
{% endblock %}

<footer class="container-fluid text-center navbar-inverse navbar-fixed-bottom">
{% block footer %}

{% endblock footer %}
</footer>
 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block script %}

{% endblock %}
</body>
 
</html>



