{% extends "fantaapp/base_home_lega.html" %}
{% block content %}
		<div id="container">
			<h1 id="benvenuto"> Calendario</h1>
			<section id="calendario">
				<ul id="tabs">
					{% for fase in fasi %}
					 <li><a href="#" name="#tab{{ forloop.counter }}">{{ fase.nome }}</a></li>
					{% endfor %}
  				</ul>
				 <div id="content">
				 {% for fase in fasi %}
      				 <div id="tab{{ forloop.counter }}">
     				 {% if fase.tipo == 'girone' %}
     				   <h3><a id="link" href='{% url 'classifica' legahash=lega.codice faseid=fase.id %}'>Guarda la classifica</a></h3>
     				   {% for giorn in fase.incontrigiornate %}
				    {% for inc in giorn %}
			             {% if forloop.counter == 1 %}
			              
          			      <h2><a id="link" href='{% url 'tabellino' legahash=lega.codice faseid=fase.id numero_giornata=inc.giornata.numero %}'>Giornata {{ inc.giornata.numero }}</a></h2>
				     {% endif %}
				       <div>
					<div class="immagine_casa"><img src="{{ inc.allenatorecasa.logourl }}" alt=""/></div>
					<div class="partita_calendario">
					<div class="casa">{{ inc.allenatorecasanome }}</div> 
					<div class="risultato">
					{% if inc.disputato %}
					  {{ inc.golcasa }}-{{ inc.goltrasferta }}
					{% else %} 
					   - 
					{% endif %}
					</div>
					<div class="trasferta">{{ inc.allenatoretrasfertanome }}</div></div>
					<div class="immagine_trasferta"><img src="{{ inc.allenatoretrasferta.logourl }}" alt=""/></div>
				       </div>
				     {% endfor %}
				   {% endfor %}
				 {% else %}
                                    {% for gg, inclist in fase.incontricoppa.items %}
                                       <h2>Andata {{ gg.0 }}a giornata
                                       {% if gg|length > 1 %} 
                                           - Ritorno {{ gg.1 }}a giornata
                                       {% endif %}
                                       </h2>
                                       {% for inc in inclist %}
                                       <div>
					        <div class="immagine_casa">
					          {% if inc.allenatorecasa %}
					          <img src="{{ inc.allenatorecasa.logourl }}" alt=""/>
					          {% endif %}
					        </div>
					        <div class="partita_calendario">
					        <div class="casa">{{ inc.allenatorecasanome }}</div>
					        <div class="risultato">
					        <a href='{% url 'tabellinocoppa' legahash=lega.codice incontro_id=inc.id%}'>
					        <table class="doppiorisultato">
					        <tr><td>{% if inc.incontro_andata.disputato %} {{ inc.incontro_andata.golcasa }}-{{ inc.incontro_andata.goltrasferta }}{% else %} - {% endif %}</tr>
					        <tr><td>{% if inc.incontro_ritorno.disputato %} {{ inc.incontro_ritorno.goltrasferta }}-{{ inc.incontro_ritorno.golcasa }}{% else %} - {% endif %}</tr>
					        </table>
					        </a>
					        </div>
					        <div class="trasferta">{{ inc.allenatoretrasfertanome }}</div></div>
					        <div class="immagine_trasferta">
					          {% if inc.allenatoretrasferta %}
					          <img src="{{ inc.allenatoretrasferta.logourl }}" alt=""/>
					          {% endif %}
					        </div>
				       </div>
                                       {% endfor %}
                                    {% endfor %}
                                 {% endif %}				 
                                 </div>
				 {% endfor %}
          			</div>
	

			</section>

		</div>
		
{% endblock %}

{% block script %}

  <script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabs a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function(){
        $("#content > div").hide(); // Initially hide all content
        $("#tabs li:first a").attr("id","current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content
        
        $("#tabs a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
             return       
            }
            else{             
            resetTabs();
            $(this).attr("id","current"); // Activate this
            $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabs li").length; i++) {
          if (myUrlTab == myUrlTabName + i) {
              resetTabs();
              $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
              $(myUrlTab).fadeIn(); // Show url tab content        
          }
        }
    })()
  </script>
{% endblock %}

